<h3>Post New</h3>
<form>
  <div>
    <label>user:</label>
    {{input type="text" value=model.name}}
  </div>
  <div>
    <label>Content:</label>
    	{{input type="text" value=model.email}}
   </div>
  <div>
	<button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  </div>
</form>
