<h1>All Posts</h1>

{{#link-to 'users.new'}}
	New Post
{{/link-to}}
{{#each posts as |post|}}
	<h3>
		{{#link-to 'posts.show' post}}
			{{post.title}} - {{post.user.name}}
		{{/link-to}}
	</h3>
{{/each}}

